<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/showWorkspace.css">

<% let toggleId = -1; %>
<% let docToggleId = -1; %>

<div class="container-fluid">
    <div class="row align-items-start" id="wrapper">
        <!-- Directories and Documents handler menu -->
        <div class="col-2"  id="menuContainer">
            <h1><%=workspace.name%></h1>
            <button class="dontStyleBtn" onclick="showAll()">Show all</button>
            <button class="dontStyleBtn" onclick="closeAll()">Close all</button>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">
                    <form action="" method="POST">
                        <div class="input-group">
                            <input id="docName-<%=toggleId%>" type="text" name="docName" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                            <input type="hidden" name="id" value="<%=workspace._id%>">
                            <input type="hidden" name="type" value="workspace">
                            <button class="btn" id="button-addon2">Create doc</button>
                        </div>
                    </form>
                
                    <ul class="list-group mb-3"> 
                    <% for (let doc of workspace.documents) { %>
                        <li class="list-group-item">
                            <div class="dropdown">
                            <form action="" method="POST">
                                <button class="btn btnDoc" id="docToggleId-<%=++docToggleId%>"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= doc.filename %>
                                        <input name="getDoc[<%=doc._id%>]" type="hidden">
                                </button>
                            </form>
                            <div class="dropdown-menu" aria-labelledby="docToggleId-<%=docToggleId%>">
                                <form action="" method="POST" class="dropdown-item">
                                    <div class="input-group">
                                        <button>
                                            Delete document
                                            <input name="docDel[<%=doc._id%>]" type="hidden">
                                        </button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </li>
                    <% } %> 
                    </ul>
                </li>
            </ul>
            <% let calls = 0; %>
            <ul class="list-group">
                <li class="list-group-item">
                    <form action="" method="POST">
                        <div class="input-group">
                            <input type="text" name="dirName" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                            <input type="hidden" name="type" value="workspace">
                            <input type="hidden" name="id" value="<%=workspace._id%>">
                            <button class="btn" id="button-addon2">Create dir</button>
                        </div>
                    </form>
                    <ul class="list-group">
                    <% workspace.directories.forEach(dir => { %>
                        <div class="dropdown">
                            <button class="btn btnDir mb-1" id="toggleId-<%=++toggleId%>"
                                type="button" data-bs-toggle="collapse" data-bs-target="#divId-<%=toggleId%>" aria-expanded="false" aria-controls="divId-<%=toggleId%>">
                                    <%=dir.name%>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="toggleId-<%=toggleId%>">
                                <form class="dropdown-item" action="" method="POST">
                                    <div class="input-group">
                                        <input type="text" name="docName" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                                        <input type="hidden" name="type" value="dir">
                                        <input type="hidden" name="id" value="<%=dir._id%>">
                                        <button class="btn" id="button-addon2">Create doc</button>
                                    </div>
                                </form>
                                <form class="dropdown-item" action="" method="POST">
                                    <div class="input-group">
                                        <input type="text" name="dirName" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                                        <input type="hidden" name="type" value="subdir">
                                        <input type="hidden" name="id" value="<%=dir._id%>">
                                        <button class="btn" id="button-addon2">Create dir</button>
                                    </div>
                                </form>
                                <hr>
                                <form class="dropdown-item" action="" method="POST">
                                    <div class="input-group">
                                        <button class="btn btn-danger form-control" style="text-align: center;">Delete dir</button>
                                        <input type="hidden" name="dirDel[<%=dir._id%>]" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                                        <input type="hidden" name="type" value="dir">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="collapse" id="divId-<%=toggleId%>">
                            <li class="list-group-item">
                            <!-- Function that recursively prints documents and subdirectories, argument is a Directory -->
                            <% const printDir = dir => { %>
                                <!-- print out the Directory's (of type Directory) documents -->
                                <ul class="list-group" id="fileMargin">
                                    <li class="list-group-item">
                                        <% if (dir.documents.length) { %>
                                            <ul class="list-group">
                                            <% for (let doc of dir.documents) { %>
                                                <li class="list-group-item mb-1">
                                                    <div class="dropdown">
                                                        <form action="" method="POST">
                                                            <button class="btn btnDoc" id="docToggleId-<%=++docToggleId%>"
                                                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <%= doc.filename %>
                                                                    <input name="getDoc[<%=doc._id%>]" type="hidden">
                                                            </button>
                                                        </form>
                                                        <div class="dropdown-menu" aria-labelledby="docToggleId-<%=docToggleId%>">
                                                            <form action="" method="POST" class="dropdown-item">
                                                                <div class="input-group">
                                                                    <button>
                                                                        Delete document
                                                                        <input name="docDel[<%=doc._id%>]" type="hidden">
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </li>
                                            <% } %>
                                            </ul>
                                        <% } %>
                                    </li>
                                </ul>
                                <!-- print out the Directory's (of type Directory) subdirectories (of type Subdirectory)-->
                                <ul class="list-group" id="fileMargin">
                                    <li class="list-group-item">
                                        <% if (dir.subdirectories.length) { %>
                                            <!-- iterating over the subdirectories (of type Subdirectory) -->
                                            <ul class="list-group">
                                            <% dir.subdirectories.forEach(subdir => { %>
                                                <div class="dropdown">
                                                    <button class="btn btnDir mb-1" id="toggleId-<%=++toggleId%>"
                                                        type="button" data-bs-toggle="collapse" data-bs-target="#divId-<%=toggleId%>" aria-expanded="false" aria-controls="divId-<%=toggleId%>">
                                                            <%=subdir.name%>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="toggleId-<%=toggleId%>">
                                                        <form class="dropdown-item" action="" method="POST">
                                                            <div class="input-group">
                                                                <input type="text" name="docName" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                                                                <input type="hidden" name="type" value="subdir">
                                                                <input type="hidden" name="id" value="<%=subdir._id%>">
                                                                <button class="btn" id="button-addon2">Create doc</button>
                                                            </div>
                                                        </form>
                                                        <form class="dropdown-item" action="" method="POST">
                                                            <div class="input-group">
                                                                <input type="text" name="dirName" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                                                                <input type="hidden" name="type" value="dir">
                                                                <input type="hidden" name="id" value="<%=subdir._id%>">
                                                                <button class="btn" id="button-addon2">Create dir</button>
                                                            </div>
                                                        </form>
                                                        <hr>
                                                        <form class="dropdown-item" action="" method="POST">
                                                            <div class="input-group">
                                                                <button class="btn btn-danger form-control" style="text-align: center;">Delete dir</button>
                                                                <input type="hidden" name="dirDel[<%=subdir._id%>]" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                                                                <input type="hidden" name="type" value="subdir">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="collapse" id="divId-<%=toggleId%>">
                                                    <li class="list-group-item">
                                                    <!-- print out the documents in each subdirectory -->
                                                    <ul class="list-group" id="fileMargin">
                                                        <li class="list-group-item">
                                                            <% if (subdir.documents.length) { %>
                                                                    <ul class="list-group">
                                                                    <% for (let doc of subdir.documents) { %>
                                                                        <li class="list-group-item doc-class">
                                                                            <div class="dropdown">
                                                                                <form action="" method="POST">
                                                                                    <button class="btn btnDoc" id="docToggleId-<%=++docToggleId%>"
                                                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                            <%=doc.filename%>
                                                                                            <input name="getDoc[<%=doc._id%>]" type="hidden">
                                                                                    </button>
                                                                                </form>
                                                                            </div>
                                                                            <div class="dropdown-menu" aria-labelledby="docToggleId-<%=docToggleId%>">
                                                                                <form action="" method="POST" class="dropdown-item">
                                                                                    <div class="input-group">
                                                                                        <button>
                                                                                            Delete document
                                                                                            <input name="docDel[<%=doc._id%>]" type="hidden">
                                                                                        </button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </li>
                                                                    <% } %>
                                                                    </ul>
                                                            <% } %>
                                                        </li>
                                                    </ul>
                                                    <!-- print out the subdirectories (Which are going to be of model Directory) of each subdirectory -->
                                                    <ul class="list-group" id="fileMargin">
                                                        <li class="list-group-item">
                                                            <!-- create new directory (of type Directory) under subdir -->
                                                            <% if (subdir.subdirectories.length) { %>
                                                                <ul class="list-group">
                                                                <% subdir.subdirectories.forEach(dir => { %>
                                                                    <div class="dropdown">
                                                                        <button class="btn btnDir mb-1" id="toggleId-<%=++toggleId%>"
                                                                            type="button" data-bs-toggle="collapse" data-bs-target="#divId-<%=toggleId%>" aria-expanded="false" aria-controls="divId-<%=toggleId%>">
                                                                                <%=dir.name%>
                                                                        </button>
                                                                        <div class="dropdown-menu" aria-labelledby="toggleId-<%=toggleId%>">
                                                                            <form class="dropdown-item" action="" method="POST">
                                                                                <div class="input-group">
                                                                                    <input type="text" name="docName" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                                                                                    <input type="hidden" name="type" value="dir">
                                                                                    <input type="hidden" name="id" value="<%=dir._id%>">
                                                                                    <button class="btn" id="button-addon2">Create doc</button>
                                                                                </div>
                                                                            </form>
                                                                            <form class="dropdown-item" action="" method="POST">
                                                                                <div class="input-group">
                                                                                    <input type="text" name="dirName" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                                                                                    <input type="hidden" name="type" value="subdir">
                                                                                    <input type="hidden" name="id" value="<%=dir._id%>">
                                                                                    <button class="btn" id="button-addon2">Create dir</button>
                                                                                </div>
                                                                            </form>
                                                                            <hr>
                                                                            <form class="dropdown-item" action="" method="POST">
                                                                                <div class="input-group">
                                                                                    <button class="btn btn-danger form-control" style="text-align: center;">Delete dir</button>
                                                                                    <input type="hidden" name="dirDel[<%=dir._id%>]" class="form-control" aria-describedby="button-addon2" autocomplete="off">
                                                                                    <input type="hidden" name="type" value="dir">
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <div class="collapse" id="divId-<%=toggleId%>">
                                                                        <li class="list-group-item">
                                                                            <% printDir(dir) %>
                                                                        </li>
                                                                    </div>
                                                                <% }) %>
                                                                </ul>
                                                            <% } %> 
                                                        </li>
                                                    </ul>
                                                    </li>
                                                </div>
                                            <% }) %>
                                            </ul>
                                        <% } %>
                                    </li>
                                </ul>
                            <% } %>
                            <% printDir(dir) %> 
                            </li>
                        </div>
                    <% }) %>  
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Documentum content -->
        <div class="col" id="contentContainer">
            <div class="card">
                <div class="card-body" id="contentCard">
                    <div class="card-title mb-3">
                        <h1><%=currFn%></h1>
                    </div>
                    <div class="card-text mb-3">
                        <form action="" method="POST">
                            <textarea class="form-control mb-3" name="contentUpdate" id="contentTextArea"><%=currContent%></textarea>
                            <button class="btn" style="color: white;">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Additional col, haven't decided about the content -->
    </div>
</div>

<script>
    window.onload = () => {
        for (let i = 0; i <= <%=toggleId%>; i++) {
            const div = document.getElementById(`divId-${i}`);
            const button = document.getElementById(`toggleId-${i}`);
            const state = document.cookie.includes(`toggle${i}=true`);
            button.ariaExpanded = state ? "true" : "false";
            button.setAttribute("aria-expanded", `${state ? "true" : "false"}`);
            if (state) {
                div.classList.add("show");
            } else {
                div.classList.remove("show");
            }
        }
        updateBtnIcons();
        allBtnDoc = document.querySelectorAll(".btnDoc");
        for (let btnDoc of allBtnDoc) {
            btnDoc.innerHTML = '<img src="/icons/file-earmark.svg">'.concat(btnDoc.innerHTML);
        }
    }
    const navBarBtn = document.getElementById("navbarDarkDropdownMenuLink");
    const allButtons = document.querySelectorAll(".dropdown > button");
    for (let btn of allButtons) {
        if (btn !== navBarBtn) {
            btn.onclick = () => {
                const div = btn.nextElementSibling;
                if (btn.getAttribute("data-bs-toggle") === "dropdown") {
                    //button.classList.remove("show");
                    //const divBtn = btn.nextSibling.nextSibling;
                    
                    //div.classList.remove("show");
                    btn.classList.remove("dropdown-toggle");
                    btn.setAttribute("data-bs-toggle", "collapse");
                    //toggleCookie();
                } 
                div.classList.remove("show");
                btn.click();
                toggleCookie(parseInt(btn.id.slice(9)));
                updateBtnIcons();
            }
        }
    }
    const allDocBtns = document.querySelectorAll(".dropdown > form > button");
    if (!document.cookie) {
        for (let i = 0; i <= <%=toggleId%>; i++) {
            const btn = document.getElementById(`toggleId-${i}`);
            document.cookie = `toggle${i}=false; `;
        }
    }
    const toggleCookie = (toggleId) => {
        const button = document.getElementById(`toggleId-${toggleId}`);
        // button.classList.remove("dropdown-toggle");
        // button.setAttribute("data-bs-toggle", "collapse");
        // button.click();
        document.cookie = `toggle${toggleId}=${button.ariaExpanded === "true" ? "true" : "false"}`;
    }
    const showAll = () => {
        for (let i = 0; i <= <%=toggleId%>; i++) {
            const div = document.getElementById(`divId-${i}`);
            const button = document.getElementById(`toggleId-${i}`);
            button.setAttribute("aria-expanded", "true");
            div.classList.add("show");
            document.cookie = `toggle${i}=true`
        }
    }
    const closeAll = () => {
        for (let i = 0; i <= <%=toggleId%>; i++) {
            const div = document.getElementById(`divId-${i}`);
            const button = document.getElementById(`toggleId-${i}`);
            button.setAttribute("aria-expanded", "false");
            div.classList.remove("show");
            document.cookie = `toggle${i}=false`
        }
    }
    // Blocks the popup on page refresh for form resubmission
    if (window.history.replaceState) {
        window.history.replaceState( null, null, window.location.href );
    }
    window.oncontextmenu = function (e) {
        const button = document.getElementById(`${e.target.id}`);
        for (let btn of allButtons) {
            if (btn !== button && btn !== navBarBtn && btn.getAttribute("data-bs-toggle") === "dropdown") {
                btn.classList.remove("dropdown-toggle");
                btn.setAttribute("data-bs-toggle", "collapse");
                //button.classList.remove("show");
                // const divBtn = btn.nextSibling.nextSibling;
                const divBtn = btn.nextElementSibling;
                divBtn.classList.remove("show");
            }
        }
        if (e.target.localName === "button") {
            if (e.target.id.slice(0, 8) === "toggleId") {
                showCustomMenu(e.target);
            } else if (e.target.id.slice(0, 11) === "docToggleId") {
                showDocCustomMenu(e.target);
            }
        }
        return false;     // cancel default menu
    }
    const showCustomMenu = function (target) {
        const id = target.id;
        const button = document.getElementById(`${id}`);
        //const div = button.nextSibling.nextSibling;
        const div = button.nextElementSibling;
        if (button.getAttribute("data-bs-toggle") === "dropdown") {
            button.classList.remove("dropdown-toggle");
            button.setAttribute("data-bs-toggle", "collapse");
            //button.classList.remove("show");
            div.classList.remove("show");
            //button.click();
            //div.setAttribute("style", "display: none;");
        } else {
            button.classList.add("dropdown-toggle");
            button.setAttribute("data-bs-toggle", "dropdown");
            // button.classList.remove("show");
            div.classList.add("show");
            //button.click()
        }
    }
    const showDocCustomMenu = function (target) {
        const id = target.id;
        const button = document.getElementById(`${id}`);
        const div = button.parentElement.nextElementSibling;
        if (!div.classList.contains("show")) {
            div.classList.add("show");
            button.ariaExpanded = true;
        } else {
            div.classList.remove("show");
            button.ariaExpanded = false;
        }
    }
    function rightClick(element) {
        const evt = element.ownerDocument.createEvent('MouseEvents');
        const RIGHT_CLICK_BUTTON_CODE = 2; // the same for FF and IE
        evt.initMouseEvent('click', true, true,
        element.ownerDocument.defaultView, 1, 0, 0, 0, 0, false,
        false, false, false, RIGHT_CLICK_BUTTON_CODE, null);
        if (document.createEventObject) {
            // dispatch for IE
            return element.fireEvent('onclick', evt)
        }
        else {
            // dispatch for firefox + others
            return !element.dispatchEvent(evt);
        }
    }
    const menuContainer = document.getElementById("menuContainer");
    menuContainer.onmouseleave = () => {
        for (let btn of allButtons) {
            if (btn !== navBarBtn && btn.getAttribute("data-bs-toggle") === "dropdown") {
                btn.classList.remove("dropdown-toggle");
                btn.setAttribute("data-bs-toggle", "collapse");
                //button.classList.remove("show");
                //const divBtn = btn.nextSibling.nextSibling;
                const divBtn = btn.nextElementSibling;
                divBtn.classList.remove("show");
            }
        }
    }
    const updateBtnIcons = (btn) => {
        if (!btn) {
            const allBtnDir = document.querySelectorAll(".btnDir");
            for (let btnDir of allBtnDir) {
                if (btnDir.innerHTML.includes('<img src="/icons/caret-right-fill.svg">')) {
                    btnDir.innerHTML = btnDir.innerHTML.replace('<img src="/icons/caret-right-fill.svg">', '')
                }
                if (btnDir.innerHTML.includes('<img src="/icons/caret-down-fill.svg">')) {
                    btnDir.innerHTML = btnDir.innerHTML.replace('<img src="/icons/caret-down-fill.svg">', '')
                }
                if (btnDir.attributes["aria-expanded"].value === "false") {
                    btnDir.innerHTML = '<img src="/icons/caret-right-fill.svg">'.concat(btnDir.innerHTML);
                } else {
                    btnDir.innerHTML = '<img src="/icons/caret-down-fill.svg">'.concat(btnDir.innerHTML);
                }
            }
        } else {
            if (btn.innerHTML.includes('<img src="/icons/caret-right-fill.svg">')) {
                btnDir.innerHTML = btn.innerHTML.replace('<img src="/icons/caret-right-fill.svg">', "")
            }
            if (btn.innerHTML.includes('<img src="/icons/caret-down-fill.svg">')) {
                    btnDir.innerHTML = btn.innerHTML.replace('<img src="/icons/caret-down-fill.svg">', "")
            }
            if (btn.attributes["aria-expanded"].value === "false") {
                btn.innerHTML = '<img src="/icons/caret-right-fill.svg">'.concat(btn.innerHTML);
            } else {
                btn.innerHTML = '<img src="/icons/caret-down-fill.svg">'.concat(btn.innerHTML);
            }
        }
    }
</script>
